@font-face {
  font-family: 'Outfit';
  src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'YoungSerif';
  src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

:root {
  --Nutmeg: hsl(14, 45%, 36%);
  --Dark-Raspberry: hsl(332, 51%, 32%);
  --White: hsl(0, 0%, 100%);
  --Rose-White: hsl(330, 100%, 98%);
  --Eggshell: hsl(30, 54%, 90%);
  --Light-Grey: hsl(30, 18%, 87%);
  --Wenge-Brown: hsl(30, 10%, 34%);
  --Dar-Charcoal: hsl(24, 5%, 18%);
  --font-outfit: 'Outfit', sans-serif;
  --font-young-serif: 'YoungSerif', sans-serif;
  --color-title-h2: var(--Nutmeg);
  --font-size-title-h2: 1.75rem;
  --font-family-h2: var(--font-young-serif);
}

body {
  font-family: var(--font-outfit);
  background-color: var(--Eggshell);
  font-size: 16px;

  @media (min-width: 576px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.bg {
  background-color: var(--White);
  max-width: 36rem;

  @media (min-width: 576px) {
    margin: 123px 0 24px;
    border-radius: 10px;
    max-width: 46rem;
  }
}

.header {
  div {
    @media (min-width: 576px) {
      border-radius: 20px;
      padding: 40px;

      img {
        border-radius: 10px;
      }
    }
  }
}

.main {
  padding: 42px 32px;
  @media (min-width: 576px) {
    padding: 0 40px 40px;
  }
}

.simple {
  margin-bottom: 40px;
  h1 {
    font-size: 2.25rem;
    font-family: var(--font-young-serif);
    color: var(--Dar-Charcoal);
    line-height: 1;
    text-wrap: wrap;
    margin-bottom: 38px;
  }

  p {
    font-size: 1rem;
    color: var(--Wenge-Brown);
    line-height: 1.4;
    text-wrap: wrap;
    margin-bottom: 36px;
  }

  article {
    padding: 24px 26px;
    background-color: var(--Rose-White);
    border-radius: 10px;

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
      color: var(--Dark-Raspberry);
      margin-bottom: 28px;
    }

    ul {
      margin-left: 42px;
      display: flex;
      flex-direction: column;
      gap: 14px;

      li {
        color: var(--Wenge-Brown);
        list-style: none;
        position: relative;
        line-height: 1.5;

        &::before {
          content: '\2022';
          color: var(--Dark-Raspberry);
          position: absolute;
          top: 50%;
          left: -36px;
          transform: translateY(-50%);
          font-size: 20px;
        }

        span {
          font-weight: 700;
        }
      }
    }
  }
}

.ingredients {
  border-bottom: 1px solid var(--Light-Grey);
  padding-bottom: 36px;
  margin-bottom: 40px;
  h2 {
    font-size: var(--font-size-title-h2);
    font-family: var(--font-family-h2);
    color: var(--color-title-h2);
    margin-bottom: 28px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 14px;
    li {
      list-style: none;
      position: relative;
      margin-left: 38px;
      font-size: 1rem;
      color: var(--Wenge-Brown);
      line-height: 1.5;

      &::before {
        content: '\2022';
        color: var(--Dark-Raspberry);
        position: absolute;
        top: 50%;
        left: -34px;
        transform: translateY(-50%);
        font-size: 20px;
      }
    }
  }
}

.instructions {
  border-bottom: 1px solid var(--Light-Grey);
  padding-bottom: 36px;
  margin-bottom: 40px;
  h2 {
    font-size: var(--font-size-title-h2);
    color: var(--color-title-h2);
    font-family: var(--font-family-h2);
    margin-bottom: 36px;
  }

  ol {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    li {
      color: var(--Wenge-Brown);
      list-style: none;
      counter-increment: li;
      position: relative;

      &::before {
        content: counter(li) '.';
        position: absolute;
        top: 0;
        left: -32px;
        color: var(--Nutmeg);
        font-weight: 600;
      }

      span {
        font-weight: 700;
      }
    }
  }
}

.nutrition {
  h2 {
    font-family: var(--font-family-h2);
    font-size: var(--font-size-title-h2);
    color: var(--color-title-h2);
    margin-bottom: 32px;
  }

  p {
    color: var(--Wenge-Brown);
    margin-bottom: 30px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    color: var(--Wenge-Brown);

    tr {
      border-bottom: 1px solid var(--Light-Grey);

      th {
        padding: 1rem 0;
      }

      &:last-child {
        border: none;
      }

      td {
        color: var(--Nutmeg);
        font-weight: 700;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
